<!-- This is a launch file that runs the bare minimum requirements to get -->
<!-- nodes running for the bomb drop for a fixed-wing aircraft -->

<launch>
  <arg name="mav_name"            default="fixedwing"/>


  <group ns="$(arg mav_name)">
    <arg name="bag_name" default="flight"/>

    <arg name="bag_path" default="/home/team2/groundstation_bags"/>
    <!-- ROS interface rosflight_io -->
    <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
      <param name="udp" value="false"/>
      <param name="port" value="/dev/ttyUSB0"/>
    </node>

    <node name="autopilot" pkg="rosplane" type="rosplane_controller" output="screen">
      <!-- <remap from="state" to="truth"/> -->
    </node>

    <node name="estimator" pkg="rosplane" type="rosplane_estimator" output="screen"/>

    <node name="pathfollower" pkg="rosplane" type="rosplane_path_follower" output="screen">
       <!-- <remap from="state" to="truth"/> -->
    </node>
    <node name="pathmanager" pkg="rosplane" type="rosplane_path_manager" output="screen">
        <!--  <remap from="state" to="truth"/> -->
     </node>
    <node name="gps_node" pkg="rosflight_utils" type="gps" output="screen">
        <param name="port" value="/dev/ttyUSB1"/>
    </node>

    <node pkg="rosbag" type="record" name="record1" output="screen" args="-qa -o $(arg bag_path)/$(arg bag_name)"/>

  </group>
</launch>


<!--port="/dev/ttyUSB1"-->
<!-- port="/dev/ttyUSB0" -->
