<!-- This is a launch file that runs the groundstation and other tools for the bomb drop -->

<launch>
  <arg name="mav_name"            default="fixedwing"/>

  <group ns="$(arg mav_name)">

    <arg name="bag_name" default="flight"/>

    <arg name="bag_path" default="/home/team2/groundstation_bags"/>

    <node pkg="rosbag" type="record" name="record" output="screen" args="-qa -o $(arg bag_path)/$(arg bag_name)"/>
  
    <node name="waypoint_planning" pkg="waypoint_planning" type="waypoint_planning" output="screen" />

  </group>
  
</launch>

